.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

    background-color:lightblue;
}
.child-div{
    height: 120px;
    width: 120px;
    
    background-color: #06bf37c7;
    border: 2px solid red;
    margin: 2px;
    
}

