* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  #logo {
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vp;
    color: white;
  }
  
   #logo img {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    max-width: 200px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: small;
  }

  .hero {
    height: 100vh;
    background: linear-gradient(-45deg, #fff, black, darkgray, #447473);
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    animation: gradientBG 5s infinite;
  }
  
  @keyframes gradientBG {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content {
      
    margin-top: -200px;
    color: #fff;
    margin-bottom: 3rem;
  }
  
  .content h1 {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 0.5em;
    opacity: 0;
    animation: fadeinup 2s forwards;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: fadeinup 2s forwards;
    animation-delay: 0.5s;
  }
  
  @keyframes fadeinup {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .btn {
    text-decoration: none;
    color: black;
    padding: 0.7rem 2rem;
    background-color: white;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    opacity: 0;
    animation: fadeinup 1.5s ease forwards;
    animation-delay: 2s;
  }
  
  .btn:hover {
    background-color: darkcyan;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
  
  .profile {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    padding: 2rem;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
  }
  
  .profile:hover {
    transform: scale(1.05);
  }
  
  .content p:hover {
    color: rgb(2, 2, 2);
    transform: scale(1.05);
  }
  .profile p:hover {
    color: darkcyan;
  }

  .content h1:hover {
    color: darkcyan;
    transform: scale(1.05);
  }
  .content h2:hover {
    color: darkcyan;
    transform: scale(1.05);
  }
  