*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    background-color: #282c34;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
  }
  .Card{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    width: 310px;
    height:320px ;
    transition: transform 0.3s;
  }
  .Card:hover{
    transform: scale(1.05);
  }
  .Card img{
    width: 100px;
    height: 120px;
    margin-left: 100px;
    margin-top: 20px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border:green 3px solid;
    text-align: center;
 
  }
  .Card img:hover{
    border: red 3px solid;
  }
  .card-content{
  padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin-top: 5px;
    /* font-size: 1.4rem; */

  }
  .Card-Profile{
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
  .Card-description{
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  .card-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: steelblue;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-right: 5px;
    
}
  .card-btn:hover{
    background-color: lightblue;
  }